:root {
  --font-family-code: 'Fira Code', monospace;

  scroll-behavior: smooth;
  
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    scroll-behavior: auto;
  }
}

:root,
html.dark {
  --c-brand: #2dd4bf;
  --c-brand-light: #34d399;
  --c-tip-text-accent: #0d9488;
}

div[class*=language-].ext-sh:before {
  content: "zsh";
}

.navbar {
  .logo {
    margin-right: calc(3 * var(--navbar-padding-v)); // default is `var(--navbar-padding-v)`
  }
}