:root {
  --font-family-code: 'Fira Code', monospace;

  scroll-behavior: smooth;
  
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    scroll-behavior: auto;
  }
}

:root,
html.dark {
  --c-brand: #0674d5;
  --c-brand-light: #105a9b;
  --c-tip-text-accent: #0d497d;
}

.sidebar .sidebar-items {
  padding-left: 20px;
  padding-right: 10px;
}

.sidebar-item:not(.sidebar-heading).active {
  border-left: 4px solid var(--c-text-accent);
  color: inherit;
}

.sidebar-item-children .sidebar-item-children .sidebar-item:not(.sidebar-heading).active {
  border-left-color: var(--c-text-accent);
}

div[class*=language-].ext-sh:before {
  content: "zsh";
}

.navbar {
  .logo {
    margin-right: calc(3 * var(--navbar-padding-v)); // default is `var(--navbar-padding-v)`
  }
}

.external-link::after {
  content: ' ↗︎';
}

main {
  a {
    text-decoration: underline;
  }
}