:root {
  --font-family-code: 'Fira Code', monospace;

  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    scroll-behavior: auto;
  }
}

:root,
html.dark {
  --c-brand: #0674d5;
  --c-brand-light: #105a9b;
  --c-tip-text-accent: #0d497d;
}

.sidebar .sidebar-items {
  padding-left: 1.25rem;
  padding-right: 0.625rem;
}

.sidebar ul.sidebar-item-children {
  padding-left: 0.625rem;
}

.sidebar-item.sidebar-heading {
  font-weight: normal;
}

.sidebar-item:not(.sidebar-heading) {
  padding-left: 1.5rem;
}

.sidebar-item:not(.sidebar-heading).active {
  border-left: 4px solid var(--c-text-accent);
  // color: inherit;
}

[aria-current="page"] {
  color: var(--c-text-accent);
}

.sidebar-item.active:not(p.sidebar-heading) {
  font-weight: normal;
}

.sidebar-item.active:not(p.sidebar-heading):not([aria-current="page"]) {
  color: var(--c-text);
}

.sidebar-item-children,
.sidebar-item:not(.active) {
  color: var(--c-text);
}

a.sidebar-heading + .sidebar-item-children .sidebar-item:not(.sidebar-heading).active,
.sidebar-item-children .sidebar-item-children .sidebar-item:not(.sidebar-heading).active {
  border-left-color: var(--c-text-accent);
}

div[class*=language-].ext-sh:before {
  content: "zsh";
}

.navbar {
  .logo {
    margin-right: calc(3 * var(--navbar-padding-v)); // default is `var(--navbar-padding-v)`
  }
}

.external-link::after {
  content: ' ↗︎';
}

main {
  a {
    text-decoration: underline;
  }
}

div[class*=language-] > button.copy-code-button {
  opacity: 1 !important;
}

.community a {
  text-decoration: none;
}
